h1{
    font-family: "Lucida Console","Courier New", monospace;
    font-size: 50pt;
    color: navy;
    margin-left: 20px
}

body {
    background-color: lightgray;
    text-align:left;
    padding: 25px 50px 75px 100px; 
}

input[type=submit] {
    width: 100x;
    height: 80px; 
    background-color:green;
    color: white;
    padding: 10px 20px;
    border: solid;
    border-color: black;
    border-radius: 4 px;
}

input[type=reset] {
    width: 100px;
    height: 80px; 
    background-color:red;
    color: white;
    padding: 10px 20px;
    border: solid;
    border-color: black;
    border-radius: 4 px;
}